@keyframes flashAnimation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}
@keyframes scroll {
    0% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

@keyframes player-dmg {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* General styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../Images/background.jpg);
    /* background-color: gray; */
    background-size: cover;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
/* Board styles */
#board {
    background-image: url(../assets/background.png);
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    position: relative;
    overflow: hidden;
    animation: scroll 3s linear infinite;
}
/*Show the score*/
#id-score {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
/*Show the health's player*/
#id-health {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*Size of the player*/
#player {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
/*Styles of the spaceship*/
.spaceship{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spaceship div{
    width: 100%;
}
.spaceship1{
    background-image: url(../Images/spaceship1.png);
}
.spaceship2{
    background-image: url(../Images/spaceship2.png);
}
.spaceship3{
    background-image: url(../Images/spaceship3.png);
}
.spaceship4{
    background-image: url(../Images/spaceship4.png);
}
.enemy,.enemy2{
    background-size: cover;
    position: absolute;
}
.enemy {
    background-image: url(.././Images/enemy1.png);
}
.enemy2 {
    background-image: url(.././Images/enemy2.png);
}

.boss,.boss2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
}
.boss{
    background-image: url(.././Images/boss1.gif);
}
.boss2{
    background-image: url(.././Images/boss2.gif);
}

.bonus {
    background-size: cover;
    position: absolute;
}
.bonus-speed-movement{
    background-image: url(../assets/movement-speed-bonus.png);
}
.bonus-attack-speed{
    background-image: url(../assets/attack-speed-bonus.png);
}
.bonus-more-bullets{
    background-image: url(../assets/more-bullets-bonus.png);
}
.bonus-health{
    background-image: url(../assets/health-bonus.png);
}
.meteor{
    background-image: url(../assets/meteor.png);
    background-size: cover;
    position: absolute;
}
.shot {
    background-position: center;
    background-size: cover;
    transform: rotate(-90deg);
    position: absolute;
}
.shot1{
    background-image: url(../assets/shot1.png);
}
.shot2{
    background-image: url(../assets/shot2.png);
}
.shot3{
    background-image: url(../assets/shot3.png);
}
.shot4{
    background-image: url(../assets/shot4.png);
}
.shot5{
    background-image: url(../assets/shot5.png);
    transform: rotate(90deg);
    border: 1px solid red;
}
.shot6{
    background-image: url(../assets/shot6.png);
    transform: rotate(90deg);
    border: 1px solid red;
}

#options {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    width: 30vw;
    height: 50vh;
    gap: 10px;
}
#options label {
    font-size: 1vw;
    color: #fdfdfe;
}
#options-id {
    font-size: 2vw;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
        0px 0px 20px #b393d3;
}
#save-options {
    color: #fdfdfe;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
        0px 0px 20px black;
}
#save-options:hover {
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b41d1d, 0px 0px 10px #b41d1d, 0px 0px 10px #b41d1d,
        0px 0px 20px #b41d1d;
}
#pause {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pause-title a {
    font-size: 2vw;
}
#pause-title>h1 {
    font-size: 5vw;
    height: 10%;
}
#pause-h1 {
    font-size: 10vh;
    margin-bottom: 10%;
}

#game-over-h1 {
    font-size: 10vh;
    margin-bottom: 10%;
}



#board p {
    font-size: 2vw;
    margin: 20px;
    color: white;
}

.move-right {
    transform: perspective(800px) rotateY(40deg);
    transition: transform 0.2s;
}

.move-left {
    transform: perspective(800px) rotateY(-40deg);
    transition: transform 0.2s;
}

.move-up {
    transform: perspective(800px) rotateX(30deg);
    transition: transform 0.2s;
}

.move-down {
    transform: perspective(800px) rotateX(-30deg);
    transition: transform 0.2s;
}

#intro {
    background-image: url(../assets/background-title.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#select-spaceship {
    background-image: url(../assets/background-title.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#select-spaceship h1 {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}
#selector{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 60%;
}
#spaceship-start-button a{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fdfdfe;
    font-size: 500%;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
        0px 0px 20px black;
}
#spaceship-start-button a:hover{
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b41d1d, 0px 0px 10px #b41d1d, 0px 0px 10px #b41d1d,
        0px 0px 20px #b41d1d;
}
#selector > div{
    box-sizing: content-box;
    width: 22%;
    height: 400px;
    border: 2px solid rgb(198, 1, 1);
    border-radius: 10px;
}
#selector > div:hover{
    border: 2px solid #fdfdfe;
}
#selector > div:active{
    border: 2px solid #fdfdfe;
}
.clicked{
    border: 2px solid #fdfdfe !important
}

.text-spaceship{

    padding: 10px;
    font-size: 1vw;
    color: #fdfdfe;
    text-align: center;
}
#intro h1 {
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
        0px 0px 20px #b393d3;
}
#instructions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}
#instructions div {
    box-sizing: content-box;
    margin: 0 40px;
}
#instructions div a:hover {
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b41d1d, 0px 0px 10px #b41d1d, 0px 0px 10px #b41d1d,
        0px 0px 20px #b41d1d;
}

#instructions a:visited {
    color: #fdfdfe;
}

#movement {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: auto;
}

#movement img {
    max-width: 80%;
}

#start-button a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fdfdfe;
    font-size: 500%;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
        0px 0px 20px black;
}

#start-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    width: 40%;
}
.health-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background-color: red;
}
.volume-bar {
    width: 100%;
}
.flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.5;
    pointer-events: none;
    animation: flashAnimation 0.5s forwards;
}
.player-takes-damage {
    animation: player-dmg 0.5s ease-in-out infinite;
}
.display-window {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 25vh;
    flex-direction: column;
    background-color: rgb(97, 97, 97);
    width: 30vw;
    height: 50vh;
    border-radius: 50px;
    border: 3px solid red;
    color: white;
}
.display-window a {
    font-size: 3vw;
    text-decoration: none;
    color: white;
}
#options-display {
    font-size: 2vw !important;
}
