@keyframes scroll {
    0% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../Images/background.jpg);
    /* background-color: gray; */
    background-size: cover;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#board {
    /* background-color: lightgray; */
    background-image: url(../assets/background1.png);
    background-size: 100%;
    box-sizing:border-box;
    height: 100vh;
    width: 100vh;
    position: relative;
    overflow: hidden;
    animation: scroll 3s linear infinite;
}
#player {
    background-image: url(../Images/spaceship1.png);
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;

}
.enemy{
    background-image: url(.././Images/enemy1.png);
    background-size: cover;
    position: absolute;
}
.bonus{
    background-size: cover;
    position: absolute;
}

.shot{
    /* background-color: red; */
    background-position: center;
    background-image: url(../assets/shot1.png);
    background-size: cover;
    transform: rotate(-90deg);
    position: absolute;
}
.display-window{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    opacity: 0.9;
    width: 50vh;
    height: 50vh;
    border-radius: 50px;
    border: 5px solid red;
    position: absolute;
    left: 25vh;
    top: 25vh;
    color:white;
    
}
.display-window h5{
    font-size: 4em;
}
.display-window a{
    font-size: 4em;
    text-decoration: none;
    color: white;
}
#board p{
    font-size: 2vw;
    margin: 20px;
    color: white;
}
.move-right{
    transform: perspective(800px) rotateY(40deg);
    transition: transform 0.2s;
}
.move-left{
    transform: perspective(800px) rotateY(-40deg);
    transition: transform 0.2s;
}
.move-up{
    transform: perspective(800px) rotateX(30deg);
    transition: transform 0.2s;
}
.move-down{
    transform: perspective(800px) rotateX(-30deg);
    transition: transform 0.2s;
}
#intro{
    background-image: url(../assets/background-title.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#intro h1{
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
}
#instructions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#instructions div{
    box-sizing: content-box;
    margin: 0 40px;
    width: 50%
}
#instructions div a:hover{
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b41d1d, 0px 0px 10px #b41d1d, 0px 0px 10px #b41d1d,
      0px 0px 20px #b41d1d;
}
#instructions a:visited{
    color: #fdfdfe;
}
#movement{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: auto;
}
#movement img{
    max-width: 80%;
}
#start-button a{
    text-decoration: none;
    font-weight: bold;
    color: #fdfdfe;
    font-size: 500%;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
      0px 0px 20px black;
}
#start-button{
    width: 40%;
}

#mute-sound{
    margin: 10px;
    width: 2vw;
    height: 2vw;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../assets/sound-on.png");
    background-size: cover;
    cursor: pointer;
}

