body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(.././Images/background.jpg);
    /* background-color: gray; */
    background-size: cover;
}

#board {
    background-color: lightgray;
    box-sizing:border-box;
    border-right: 1px solid red;
    border-left: 1px solid red;
    height: 100vh;
    width: 100vh;
    position: relative;
    overflow: hidden;
} 

#player {
    background-image: url(../Images/spaceship1.png);
    background-size: cover;
    position: absolute;
}
.enemy{
    background-image: url(.././Images/enemy1.png);
    background-size: cover;
    position: absolute;
}

.shot{
    border-radius: 30px 30px 0 0;
    background-color: red;
    position: absolute;
}
.display-window{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    opacity: 0.9;
    width: 50vh;
    height: 50vh;
    border-radius: 50px;
    border: 5px solid red;
    position: absolute;
    left: 25vh;
    top: 25vh;
    color:white;
}
.display-window h5{
    font-size: 4em;
}
.display-window a{
    font-size: 4em;
    text-decoration: none;
    color: white;
}
.move-right{
    transform: perspective(800px) rotateY(40deg);
    transition: transform 0.2s;
}
.move-left{
    transform: perspective(800px) rotateY(-40deg);
    transition: transform 0.2s;
}
.move-up{
    transform: perspective(800px) rotateX(30deg);
    transition: transform 0.2s;
}
.move-down{
    transform: perspective(800px) rotateX(-30deg);
    transition: transform 0.2s;
}