body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    background-color: red;
    position: relative;
} 

#player {
    background-color: orange;
    border: 1px solid black;
    width: 10vh;
    height: 10vh;
    position: absolute;
    bottom: 0vh;
    left: 0vh
}